blockquote,
q {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

blockquote {
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    background: #fbfbfb;
    border-left: none;
    margin: 0px 0px 20px;
    padding: 30px 30px 30px 60px;
    position: relative;
    text-transform: uppercase;
    text-align: center;
}

blockquote:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background: rgb(12,114,199);
    background: -moz-linear-gradient(top,  rgba(12,114,199,1) 0%, rgba(211,46,178,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(12,114,199,1) 0%,rgba(211,46,178,1) 100%);
    background: linear-gradient(to bottom,  rgba(12,114,199,1) 0%,rgba(211,46,178,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c72c7', endColorstr='#d32eb2',GradientType=0 );
}

blockquote p {
    font-size: 18px;
    color: #4a5664;
    line-height: 28px;
    position: relative;
    display: inline-block;
}

blockquote p:first-child:before {
    font-size: 5rem;
    color: #4a5664;
    left: -30px;
    top: 8px;
    line-height: 23px;
    position: absolute;
    content: ' “ ';
    font-style: normal;
    font-family: 'Georgia', serif;
}

blockquote blockquote {
    margin-right: 0;
}

blockquote cite,
blockquote small {
    font-size: 14px;
    font-weight: 400;
    color: #868e97;
    display: block;
    margin-top: 5px;
    text-transform: capitalize;
}

blockquote em,
blockquote i {
    font-style: normal;
    font-weight: 300;
}

blockquote strong,
blockquote b {
    font-weight: 400;
}